@page "/cascade"
<h1>Cascade1</h1>

<input type="text" @bind-value="SomeValue" @bind-value:event="oninput" />

<CascadingValue Value="@SomeValue" Name="Value1">
    <Cascade2 />
</CascadingValue>

@code {
    [Parameter]
    public string SomeValue { get; set; } = string.Empty;
}
