@using System.Timers
@using Blazor.WasmSample.Shared
@implements IDisposable

<h3>Timer Event</h3>
<p>@counter</p>

@code {
    [Parameter]
    public int DelaySeconds { get; set; } = 10;
    [Parameter]
    public EventCallback<TimerEventArgs> OnTimerCallback { get; set; }

    public void Start() => timer?.Start();
    public void Stop() => timer?.Stop();
    private Timer? timer;

    private int counter = 0;

    protected override void OnInitialized()
    {
        timer = new()
            {
                Interval = 1000 * DelaySeconds
            };
        timer.Elapsed += async (sender, e) =>
        {
            counter++;
            await OnTimerCallback.InvokeAsync(new TimerEventArgs { SignalTime = e.SignalTime });
        };
    }
    public void Dispose() => timer?.Dispose();

}
